*, body{
    margin: 0;
    background-color: #036868;
}

#headingDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    font-size: 25px;
    margin-bottom: 30px;
}

#headingDiv h1{
    color: whitesmoke;
    background-color: #068585;
    padding: 5px 20px;
}


#container {
    height: 380px;
    max-width: 700px;
    min-width: 500px;
    margin: 1em auto;
}    

#choosePlayer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-top: 40px;
}

#choosePlayer p{
    font-size: 35px;
    color: whitesmoke;

}
    
#div, #div2{
    width: auto;
    height: 100px;
    margin: 0 auto;

    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#div2 p{
    align-self: flex-start;
    color: white;
}

#div2{
    margin-bottom: -60px;
}

.lbj{
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto 350px;
    grid-gap: 1px;
}

.champ {
  
    width: 220px;
    height: 30px;
    border: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    outline: none;
}

.champ:before {
    content: '';
    background: linear-gradient(45deg, #5c3939, #3d3126, #c2c265, #6aca44, #3cb9a5, #2e3555, #7c41bb, #e239bd, #9b3b3b);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.champ:active {
    color: #000
}

.champ:active:after {
    background: transparent;
}

.champ:hover:before {
    opacity: 1;
}

.champ:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #19a363;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}